:root {
    --ff-primary: 'Roboto';
    --ff-secondary: 'Lucida Grande';

    --f-style: normal;

    --fs-huge: 64px;
    --fs-x-large: 44px;
    --fs-large: 36px;
    --fs-normal: 24px;
    --fs-medium: 18px;
    --fs-small: 16px;
    --fs-tiny: 14px;

    --lh-huge: 48px;
    --lh-large: 27px;
    --lh-medium: 26px;
    --lh-small: 24px;

    --fw-primary: 400px;
    --fw-secondary: 700px;

    --color-primary: #ebcb80;
    --color-secondary: #4b4b4b;

    --color-solid-primary: #e6e6e6;
    --color-solid-secondary: #999999;
    
    --color-text-primary: #ffffff;
}
