.account {
    max-width: 100%;
    background: url(../../images/background-account.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account__heading {
    color: var(--color-text-primary);
    margin: 72px auto 36px auto;
}

.signup__heading {
    margin: 28px auto 29px auto;
}

.account__signup__card {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px auto 48px auto;
}

.account__input {
    width: 256px;
    height: 36px;
    margin-bottom: 25px;
    text-indent: 16px;
}

.account__input::placeholder {
    font-size: var(--fs-tiny);
    color: var(--color-secondary);
}

.account--exist {
    color: var(--color-primary);
    margin: 2px auto 19px auto;
}

.signup__button {
    margin-bottom: 24px;
    color: var(--color-secondary);
}
