.header {
    font-family: var(--ff-primary);
    background-color: var(--black-color);
}
.header__nav {
    height: 156px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.header__nav--brand {
    font-family: var(--ff-primary);
    font-size: 36px;
    font-weight: var(--fw-primary);
    color: var(--gold-color);
    text-decoration: none;
    margin-left: 131px;
    margin-top: 45px;
    padding-bottom: 68px;
}
.header__nav--item {
    margin: 44px 138px 64px auto;
}
.header--a {
    font-size: var(--fs-medium);
    font-weight: var(--fw-primary);
    font-family: var(--ff-primary);
    color: var(--white-color);
    text-transform: uppercase;    
    align-content: center;
    margin-right: 44px;
    padding-top: 57px;
    padding-bottom: 77px;
    text-decoration: none;
}
.btn--light {
    color: var(--white-color);
    font-size: var(--fs-small);
    background-color: var(--black-color);
    border: 1px solid var(--white-color);
    width: 180px;
}
