.header {
    font-family: var(--ff-primary);
    background-color: var(--black-color);
}

.header__nav {
    height: 156px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.header__nav--brand {
    display: block;
    font-size: var(--fs-large);
    font-weight: var(--fw-primary);
    letter-spacing: 2px;
    color: var(--gold-color);
    text-decoration: none;
    line-height: var(--lh-huge);
    margin: 45px auto 68px 171px;
}

.header__nav__menu {
    margin: 44px 138px 64px auto;
}

.menu-item {
    font-size: var(--fs-medium);
    color: var(--white-color);
    align-content: center;
    margin-right: 44px;
    padding-top: 57px;
    padding-bottom: 77px;
    text-decoration: none;
}

.menu-item:hover {
    color: var(--gold-color);
    text-decoration: underline;
}
