.person--infor {
    display: grid;
    grid-template-columns: 80px auto;
    column-gap: 17px;

}

.our__team__member {
    display: grid;
    grid-template-columns: 358px 360px 361px;
    column-gap: 32px;
    row-gap: 74px;
    justify-content: center;
    margin-bottom: 103px;
    color: var(--color-secondary);
}

.our__team__heading {
    padding-top: 54px;
    padding-bottom: 53px;
    color: var(--color-secondary);
    justify-content: center;
}

.person--infor h3 {
    font-size: var(--fs-medium);
    margin: 0px auto 0px auto;
}

.person--infor span {
    font-size: var(--fs-medium);
    margin-bottom: 14px;
}

.person--infor .text_normal {
    width: 261px;
}

.person--infor a :hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
}
