/* Mobile */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: var(--color-secondary);
}

.contact__information__description {
    display: grid;
}

.contact__heading {
    margin: 45px auto 30px auto;
}

.information__location {
    display: grid;
    grid-template-columns: 11px 233px;
    gap: 16px 17px;
    align-items: center;
    margin-top: 11px;
}

.form__email {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: baseline;
    row-gap: 3px;
}

.form__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__name__email {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form__message {
    display: flex;
    flex-direction: column;
}

.contact__button {
    margin: 17px auto 43px auto;
}

.form__message textarea {
    border: 0.5px var(--color-solid-secondary) solid;
}

#get-in-touch {
    width: 100%;
    margin-bottom: 24px;
}

#get-in-touch:nth-child(1) {
    grid-area: grid1;
}

.form__email:nth-child(2) {
    grid-area: grid2;
}

.contact__credits:nth-child(3) {
    grid-area: grid3;
}

.contact__information__description {
    grid-template-columns: 250px;
    grid-template-areas:
        'grid2'
        'grid1'
        'grid3';
    margin-bottom: 31px;
}

.form__name__email {
    gap: 6px 6px;
}

.contact__input {
    width: 108px;
    height: 24px;
    text-indent: 11px;
    margin-bottom: 14px;
}

.form__message textarea {
    width: 224px;
    height: 64px;
    resize: none;
}

#phone-number .text__number, 
.information__location .text__email {
    text-decoration: none;
    color: var(--color-secondary);
}

#phone-number {
    width: 150px;
}

.text_normal-mobile {
    display: block;
    width: 150px;
}

.contact__label {
    font-size: var(--fs-x-tiny);
}

.contact__credits {
    width: 100%;
}

.credits__text {
    margin-bottom: 11px;
    margin-top: 13px;
}

.social-icon {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    margin-top: 9px;
}

/* Tablet */
@media (min-width: 768px) {
    .contact__information__description {
        grid-template-columns: auto 162px 220px;
        grid-template-areas: 'grid2 grid1 grid3';
        column-gap: 31px;
        margin-bottom: 86px;
    }

    .contact__heading {
        margin: 49px auto 14px auto;
    }

    .contact__input {
        margin-bottom: 14px;
    }

    #phone-number span {
        display: none;
    }

    #phone-number {
        display: flex;
        flex-direction: column;
    }

    .text_normal-mobile {
        display: none;
    }

    .information__location {
        grid-template-columns: 11px 124px;
    }

    .form__card {
        margin-right: 31px;
    }

    .contact__button {
        padding: 8px 30px;
    }

    .social-icon {
        width: 152px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 30px;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .contact__information__description {
        grid-template-columns: 263px auto 263px;
        grid-template-areas: 'grid1 grid2 grid3';
        column-gap: 40px;
        margin-top: 65px;
        margin-bottom: 81px;
    }

    .information__location {
        grid-template-columns: auto 234px;
        gap: 23px 13px;
        margin-top: 23px;
    }

    .contact__heading {
        margin-top: 92px;
        margin-bottom: 0;
    }

    .form__email {
        background: var(--color-text-primary);
        border: 1px var(--color-solid-primary) solid;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    }

    .form__message {
        row-gap: 17px;
    }

    .form__card {
        margin: 39px 47px auto 60px;
    }

    .form__name__email {
        width: 100%;
        gap: 17px 12px;
    }

    .form__message textarea {
        width: 420px;
        height: 120px;
        resize: none;
    }

    .contact__label {
        font-size: var(--fs-medium);
    }

    .contact__input {
        width: 100%;
        text-indent: 11px;
        margin-bottom: 16px;
        padding: 9px 0 9px 0;
    }

    .contact__button {
        margin-top: 24px;
        padding: 15px 70px;
    }

    .credits__text {
        margin-bottom: 50px;
    }
}
