/* Mobile */
.header {
    background: var(--color-secondary);
    text-transform: uppercase;
}

.hamburger__menu__nav {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px 16px 22px 0;
    transform: translateY(50%);
}

.hamburger__menu__nav img {
    width: 16px;
    height: 14px;
}

#close {
    display: none;
}

.header__nav__menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.header__nav__menu a {
    color: var(--color-text-primary);
    text-decoration: none;
    display: none;
}

.header__nav__menu .button--light:hover {
    background: none;
    color: var(--color-primary);
}

.header__nav__menu :first-child {
    display: block;
}

.header__nav__menu .header__nav__brand {
    color: var(--color-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-primary);
    text-decoration: none;
    letter-spacing: 2.487px;
}

.header__nav__menu h1 {
    margin: 13px auto 14px 20px;
}

.menu-item:hover {
    color: var(--color-primary);
}

#click:checked ~ .header__nav__menu a {
    display: block;
}

#click:checked ~ .hamburger__menu__nav #close {
    display: block;
}

#click:checked ~ .hamburger__menu__nav #open {
    display: none;
}

input[type='checkbox'] {
    display: none;
}

/* Tablet */
@media (min-width: 768px) {
    .hamburger__menu__nav {
        display: none;
    }

    .header__nav__menu a {
        display: block;
    }

    .header__nav__menu h1 {
        margin: 37px auto 38px 0;
    }

    .header__nav__menu {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        column-gap: 30px;
    }
    .header__nav__menu .button--light:hover {
        color: var(--color-text-primary);
        background-color: var(--color-tertiary);
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .header__nav__menu .header__nav__brand {
        font-size: var(--fs-x-large);
        line-height: var(--lh-huge);
        letter-spacing: 2px;
    }

    .header__nav__menu h1 {
        margin: 45px auto 68px 0;
    }

    .header__nav__menu {
        justify-content: baseline;
        column-gap: 44px;
    }
}
