/* Mobile */
.hero {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../images/background-hero.png) no-repeat;
    background-size: cover;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.hero__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 69px auto 99px auto;
}

.hero__page h2 {
    width: 190px;
    letter-spacing: -0.8px;
}

.hero__content {
    margin: 13px auto 20px auto;
}

.form--submit {
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 40px;
=======
    flex-direction: row;
>>>>>>> f072986321f16dfb6a8697fbc9b6358257829180
}

.hero__page__input {
    border: 0.5px var(--color-secondary) solid;
    border-radius: 4px;
    background-color: transparent;
    width: 190px;
    height: 32px;
    margin: 0 0 15px 0;
    text-indent: var(--fs-x-tiny);
}

.hero__page__input::placeholder {
    color: var(--color-secondary);
    font-size: var(--fs-x-tiny);
}

.hero__page__icon {
    display: flex;
    gap: 0 20px;

}

.icon--circle {
    width: 50px;
    height: 50px;
}

.icon--circle:hover {
    transform: translateY(-10px);
}

<<<<<<< HEAD
=======
/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .hero {
        height: 460px;
    }
    .hero__page {
        margin: 69px auto 99px auto;
    }
    .hero__page h2 {
        width: 190px;
        letter-spacing: -0.8px;
    }

    .hero__content {
        margin: 13px auto 20px auto;
    }

    .hero__page__input {
        width: 190px;
        height: 32px;
        margin: 0 0 15px 0;
        text-indent: var(--fs-x-tiny);
    }

    .hero__page__input::placeholder {
        font-size: var(--fs-x-tiny);
    }

    .form--submit {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .icon--circle {
        width: 50px;
        height: 50px;
    }

    .hero__page__icon {
        gap: 0 20px;
    }
}
>>>>>>> f072986321f16dfb6a8697fbc9b6358257829180
/* Tablet */
@media (min-width: 768px) {
    .hero__page {
        margin: 135px auto 154px auto;
    }
    .hero__page h2 {
        width: 405px;
        letter-spacing: -0.8px;
    }

    .hero__page__input {
        width: 228px;
        height: 40px;
        margin-right: 18px;
    }

    .form--submit {
        flex-direction: row;
        align-items: baseline;
        margin-top: 0;
        margin-bottom: 52px;
    }

    .icon--circle {
        width: 64px;
        height: 64px;
    }

    .hero__page__icon {
        gap: 0 76px;
    }
}

<<<<<<< HEAD
/* Desktop */
=======
>>>>>>> f072986321f16dfb6a8697fbc9b6358257829180
@media (min-width: 1200px) {
    .hero__page {
        margin-top: 236px;
        margin-bottom: 216px;
    }

    .hero__page h2 {
        width: 778px;
        letter-spacing: -1.6px;
    }

    .hero__content {
        margin: 21px auto 36px auto;
    }

    .hero__page__input {
        width: 270px;
        height: 48px;
        text-indent: var(--fs-medium);
    }

    .form--submit {
        margin: 0 auto 59px;
    }

    .icon--circle {
        width: 80px;
        height: 80px;
    }

    .hero__page__icon {
        gap: 0 60px;
    }
}
