.person--info {
    display: grid;
    grid-template-columns: 80px auto;
    column-gap: 17px;
}

.our__team__member {
    display: grid;
    grid-template-columns: 358px 360px 361px;
    column-gap: 32px;
    row-gap: 74px;
    justify-content: center;
    margin-bottom: 103px;
    color: var(--color-secondary);
}

.our__team__heading {
    margin: 54px auto 53px auto;
    color: var(--color-secondary);
    justify-content: center;
}

.person--info h3 {
    margin: 0px auto 0px auto;
}

.person--info span {
    font-size: var(--fs-medium);
    margin-bottom: 14px;
}

.person--info .text_normal {
    width: 261px;
}

.person--info a :hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
