.btn{
    font-weight: var(--fw-primary);
    font-size: var(--fs-medium);

    
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 14px;

    display: inline-flex;

    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.circle__icon{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
}