.text_normal {
    color: var(--black-color);
    font-size: var(--fs-small);
    font-family: var(--ff-primary);
    font-style: normal;
    line-height: var(--lh-small);
    font-weight: var(--fw-primary);
}
h3,
span { 
    font-family: var(--ff-primary);
    font-weight: var(--fw-primary);
    line-height: var(--lh-medium);
}
