.text_normal {
    font-size: var(--fs-small);
    /* font-family: var(--ff-primary); */
    font-style: normal;
    line-height: var(--lh-small);
    font-weight: var(--fw-primary);
}

h3 {
    font-size: var(--fs-medium);
    /* font-family: var(--ff-primary); */
    font-weight: var(--fw-primary);
    line-height: var(--lh-large);
    letter-spacing: 1px;
}

span {
    /* font-family: var(--ff-primary); */
    font-weight: var(--fw-primary);
    line-height: var(--lh-medium);
}
