body{
    font-family: Arial, Verdana, sans-serif;
    font-size: 90%;
    color: #666;
    background-color: #f8f8f8;
    margin: 8px;
}
h1{
    font-weight: bold;
}
li{
    list-style-image: url(icon-plus.png);
    line-height: 1.6em;
    display: list-item;
}
table{
    border-spacing: 0px;
    display: table;
    box-sizing: border-box;
    border-color: gray;
}
thead tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    border-collapse: separate;
    text-indent: initial;
    vertical-align: inherit;
    border-color: inherit;
}
th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

th td{
    padding:5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    text-align: left;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid ;
    border-right: 1px solid #cbd2d8;
}
td{
    display: table-cell;
    vertical-align: inherit;
    text-shadow: 1px 1px 1px #fff;
}
.head th{
    color: #fff;
    background-color: #90b4d6;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
    border-top-left-radius: 5px;
}