body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-primary);
}
.container {
    width: 89%;
    margin: 0 auto;
}

@media (min-width: 713px) {
    .container {
        width: 93%;
    }
}

@media (min-width: 1140px) {
    .container {
        width: 79%;
    }
}
