.container {
    width: 1140px;
    margin: 0 auto;
    font-family: var(--ff-primary);
}

@media (max-width: 1139px) {
    .container {
        width: 713px;
    }
}

@media (max-width: 712px) {
    .container {
        width: 284px;
    }
}
