.text_normal {
    font-size: var(--fs-small);
    font-style: normal;
    line-height: var(--lh-small);
    font-weight: var(--fw-primary);
}

h2 {
    display: flex;
    font-size: var(--fs-xx-large);
    line-height: var(--lh-huge);
    font-weight: var(--fw-primary);
    text-align: center;
}

h3 {
    font-size: var(--fs-medium);
    font-weight: var(--fw-primary);
    line-height: var(--lh-large);
    letter-spacing: 1px;
}

span {
    font-weight: var(--fw-primary);
    line-height: var(--lh-medium);
}

/* Mobile and Table */
@media (max-width: 1439px) {
    .text_normal {
        font-size: var(--fs-x-tiny);
        line-height: var(--lh-small);
    }

    h2 {
        font-size: var(--fs-large);
        line-height: var(--lh-x-large);
    }

    h3 {
        font-size: var(--fs-tiny);
        line-height: var(--lh-x-small);
    }
}

/* Mobile */
@media (max-width: 767px) {
    h2 {
        font-size: var(--fs-medium-well);
    }
}
