@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Light.ttf) format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Lucida Grande";
    src: url(../../fonts/Lucida-Grande/LucidaGrande.ttf) format("truetype");
    font-style: normal;
}

